.adieLibrary {
  /* border: 1px solid blue; */
}

.library {
  /* border: 1px solid black; */
}

.allAdies {
  margin: 0px;
  width: 1600px;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
