/* .adie {
  background-color: blue;
} */

.adie__info {
  width: 100vh;
  height: 8em;
  background-color: yellow;
  border: 2px solid black;
  padding-bottom: 1.5em;
}

/* .adie__block {
  background-color: red;
} */
