/* .company{
  background-color: blue;
} */

.company__info {
  width: 75vh;
  height: 8em;
  background-color: yellow;
  border: 2px solid black;
  padding: 1.0em;
}

/* .company__block {
  background-color: red;
} */
