.companyLibrary {
  border: 1px solid blue;
}

.library {
  border: 1px solid black;
}

.allCompanies {
  margin: 0px;
  width: 1600px;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.this:hover {
  background-color: grey;
}
