.company{
  /* background-color: blue; */
}

.company__info {
  width: 71vh;
  height: 11em;
  background-color: yellow;
  border: 2px solid black;
  padding-bottom: 1.0em;
}

.company__block {
  width: auto;
  height: auto;
}
