/* .offer {
  background-color: blue;
} */

.offer__info {
  width: 75vh;
  height: 14em;
  background-color: yellow;
  border: 2px solid black;
  padding-bottom: 1.5em;
}

/* .offer__block {
  background-color: red;
} */
