.App {
  height: 1000vh;
  text-align: center;
  /* background-image: url("https://lizmrush.com/content/images/2014/Aug/CascadiaRuby2014-002.jpg"); */
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-color: black; */
}

.App-header {
  /* background-color: green;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
}

.App-link {
  /* color: #61dafb; */
}

@keyframes App-logo-spin {
  /* from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
}

.pie {
  display: none;
}

.components-body {
  display: flex;
  flex-direction: column;
}
